.hola{
    background-color: black;
    
    
}
.navLink{
    color: white !important;
   
}
.navbarBrand{
    color: #E50914 !important;
    font-weight: 500 !important;
    font-size: 30px !important;
}
.navItem{
    border: #E50914 1px solid !important;
}