.hook{
      /* background: 
      linear-gradient(
        rgba(1, 1, 1, 0.5),  
        rgba(1, 1, 0, 0.862)
      ), 
      url(./AAAAQRC29H19twWKcTZ9Zpg4biJbGNaHF2GGIYNcLt4eZ6fvwugUJbuKxTjjMFPCS-y5P3ZePL57rupDtSkyUIJhv3P8leMJGMzszuG2CHNd65NwWPu5LeKxQkRNfNMHmxAwt7tmQZFk1VIrBd1aXr2AR5DM.jpg); 
    background-position: center;
    background-size: cover; */
    background-color: #181818;
    color: white;
    margin-bottom: 0%;
  
}
.search {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .divo {
    width: 100%; /* يجعل div يغطي كامل العرض */
    display: flex;
    justify-content: center; /* مراكز النموذج في المنتصف أفقيًا */
  }
  
  .size {
    display: flex;
    justify-content: space-between; /* توزيع المحتوى بين الـ input والـ button */
    width: 50%; /* عرض النموذج يكون نصف عرض الصفحة */
  }
  
  .form-control {
    width: 70%; /* عرض الـ input */
  }
  
  .btn {
    width: 28%; /* عرض الزر */
  }
  .vonta{

    width: 50%;
    display: flex;
  }

.hoka{
  padding-top: 190px;
}
